<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>
    <div class="container">
      <div class="card mt-5">
        <div class="card-header">
          <h3>Realizar pergunta</h3>
        </div>

        <div class="card-body">
          <form class="needs-validation" method="post" action="/ask/store" novalidate>
            <label class="form-label" for="title">Título</label>
            <input required id="title" name="title" class="form-control mb-3" type="text"
              placeholder="Como tiro minha CNH?">
            <p class="d-none text-danger">
              Por favor, insira um título.
            </p>

            <label class="form-label" for="description">Descrição</label>
            <textarea required id="description" name="description" class="form-control mb-3"
              placeholder="Quais documentos eu preciso e em qual orgão devo ir para retirar?"></textarea>
            <p class="d-none text-danger">
              Por favor, insira uma descrição.
            </p>

            <button class="btn btn-primary">Perguntar</button>
          </form>
        </div>
      </div>
    </div>

    <script type="module" src="/js/index.js"></script>

<%- include('partials/footer.ejs') %>