<%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/navbar.ejs') %>

      <img src="/img/logo.png" alt="">
      <h1>Perguntas e respostas</h1>
  </body>
<%- include('partials/footer.ejs') %>